<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-6">New message</h1>

    <%= render "form", message: @message %>

    <br>

    <div>
      <%= link_to "Back to messages", my_messages_path(current_user.name) %>
    </div>
  </div>
</div>
