<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Leader:</strong>
    <%= group.leader_id %>
  </p>

  <p>
    <strong>Enrollments count:</strong>
    <%= group.enrollments_count %>
  </p>

</div>
