<div class="row mb-4">
  <div class="col-md-6 offset-md-3">

    <h3>Edit group</h3>

    <%= render "form", group: @group %>

    <br>

    <div>
      <%= link_to "Show this group", @group %> |
      <%= link_to "Back to my groups", my_groups_path(current_user.name) %>
    </div>
  </div>
</div>
