<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <h1 class="display-6">New group</h1>

    <%= render "form", group: @group %>

    <br>

    <div>
      <%= link_to "Back to my groups", my_groups_path(current_user.name) %>
    </div>
  </div>
</div>
