    <% if @user.role == "teacher" %>
      <div class="card">
        <div class="card-header">
          <h6>You lead these groups:</h6>
        </div>
        <ul class="list-group list-group-flush">
        <% @user.groups_they_lead.each do |group| %>
          <li class="list-group-item"><%= link_to "#{group.name}", group %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="card">
      <div class="card-header">
        <h6>You are a member of these groups:</h6>
      </div>
      <ul class="list-group list-group-flush">
      <% @user.membership_groups.each do |group| %>
        <% next if @user.groups_they_lead.include?(group) %>
        <li class="list-group-item"><%= link_to "#{group.name}", group %></li>
      <% end %>
      </ul>
    </div>
