
    <div class="card">
      <%= image_tag user.image %>
      <div class="card-body">
        <div class="card-text">
          <h3>
          <%= user.name %>
          </h3>
          <p>
            <%= user.role %>
          </p>
        </div>
      </div>
    </div>
