
    <div class="card">
      <div class="card-header">
        Your upcoming events:
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
        <% @user.membership_groups.each do |group| %>
          <% group.upcoming_events do |event| %>
            <li class="list-group-item">
              <%= link_to "#{event.name}", event %>
            </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Your past events:
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
        <% @user.membership_groups.each do |group| %>
          <% group.past_events do |event| %>
            <li class="list-group-item">
              <%= link_to "#{event.name}", event %>
            </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
