
    <div class="card">
      <div class="card-header">
        Your upcoming events:
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
        <% @user.membership_groups.each do |group| %>
          <% if group.upcoming_events.count > 0 %>
            <div class="fw-bold">
              <%= link_to "#{group.name}", group %>
            </div>
          <% end %>
          <% group.upcoming_events.each do |event| %>
            <li class="list-group-item list-group-item-action">
              <%= link_to "#{event.name}", event %>
            </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Your past events:
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
        <% @user.membership_groups.each do |group| %>
          <% if group.past_events.count > 0 %>
            <div class="fw-bold">
              <%= link_to "#{group.name}", group %>
            </div>
          <% end %>
          <% group.past_events.each do |event| %>
            <li class="list-group-item list-group-item-action">
              <%= link_to "#{event.name}", event %>
            </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
