<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <%= render "users/groups", user: @user %>
    <div class="card-body">
          <%= link_to "Create a new group", new_group_path(Group.new) %>
    </div>
  </div>
</div>
